.a
    font-family: $open-sans, sans-serif
    font-size: 900px
    position: absolute
    font-weight: bold
    color: #314356
    margin-right: 5%
    margin-top: -400px
    overflow-y: hidden
    padding-top: 0px
    padding-bottom: 0px
    float: right
    width: 100%
    text-align: left
    transform: rotate(180deg)

.section
    width: 95%
    float: left
    padding-left: 10px
    overflow-x: hidden
    margin-bottom: 20px

    .cut
        width: 50%
        padding-left: 50px
        overflow-x: hidden

    p
        text-align: left
        font-weight: normal

    .stack
        text-align: center
        margin-right: auto
        margin-left: auto

    .skills
        width: 10%
        min-width: 300px
        text-align: center
        float: left
        margin-right: 20px

        .icon
            font-size: 60px
            color: $headerText
            margin-bottom: -25px

        h3
            margin: 5px 0px

        ul
            margin: 0px
            padding: 0px

            li
                list-style: none
                margin: 0px
                padding: 0px
                font-size: 14px

.about-me
    margin-top: 80px