.gallery
    max-width: 100%

    .column
        float: left
        display: inline-block
        +gallery-column-size()

        div
            width: 100%
            margin: 0px

            img
                max-heigt: 100%
                max-width: 100%
                margin: 0px