header
    background-color: $headerBackground
    height: 100%
    width: 8%
    min-width: 80px
    float: left
    position: fixed
    color: $headerText
    z-index: 100
    top: 0
    left: 0

    .logo
        background: url($logo) center center no-repeat
        background-color: $logoBackground
        background-size: 80%
        height: 15%
        padding: 0 15
        width: 100%

    nav,
    nav ul,
    nav ul
        margin: 0
        padding: 0

    nav
        text-align: center
        position: relative
        vertical-align: middle
        height: 80%
        padding-top: 20px

        ul li 
            list-style-type: none
            margin-bottom: 15px
            height: 30px
            width: fit-content
            margin-left: auto
            margin-right: auto

            a
                text-decoration: none
                font-size: 26px
                color: $headerText
                font-family: $oswald

                &:hover,
                &:active
                    color: pink

                .link-text
                    font-size: 14px
                    vertical-align: middle
                    text-transform: uppercase