.r
    font-family: $open-sans, sans-serif
    font-size: 900px
    position: absolute
    font-weight: bold
    color: #314356
    margin-left: 5%
    margin-top: -400px
    overflow-y: hidden
    padding-top: 0px
    padding-bottom: 0px
    
.home
    vertical-align: middle
    position: absolute
    text-align: left
    margin-left: 15%
    margin-top: 10%
    height: 50%
    width: 80%

    .name-logo
        background: url($name-logo) left top no-repeat
        background-size: 50%
        height: 100%
        padding: 0 15
        width: 100%
        position: absolute

    h2
        margin-bottom: 2px
        margin-left: -20px