.main-container
    height: 100%
    width: 100%
    background-color: $mainBackground
    position: absolute
    z-index: -100
    overflow: hidden

    .icons-large
        color: white
        font-size: 14px
        position: fixed
        display: flex
        horizontal-align: left
        width: 100%
        height: 100%
        top: 0
        left: 0

        .icon
            position: absolute

        .icon:nth-of-type(1)
            animation: fallDownBig 20s 900ms infinite
        
        .icon:nth-of-type(2)
            animation: fallDownBig 18s 867ms infinite

        .icon:nth-of-type(3)
            animation: fallDownBig 22s 905ms infinite

        .icon:nth-of-type(4)
            animation: fallDownBig 25s 413ms infinite
        
        .icon:nth-of-type(5)
            animation: fallDownBig 28s 328ms infinite

    .icons-small
        color: white
        font-size: 10px
        position: fixed
        display: flex
        horizontal-align: left
        width: 100%
        height: 100%
        top: 0
        left: 0
    
        .icon
            position: absolute

        .icon:nth-of-type(1)
            animation: fallDownSmall 15s 489ms infinite
        
        .icon:nth-of-type(2)
            animation: fallDownSmall 16s 363ms infinite

        .icon:nth-of-type(3)
            animation: fallDownSmall 18s 400ms infinite

        .icon:nth-of-type(4)
            animation: fallDownSmall 17s 450ms infinite
        
        .icon:nth-of-type(5)
            animation: fallDownSmall 16s 879ms infinite

        .icon:nth-of-type(6)
            animation: fallDownSmall 19s 911ms infinite

        .icon:nth-of-type(7)
            animation: fallDownSmall 14s 678ms infinite

@keyframes fallDownBig
    0% 
        top: -10%
        opacity: 0.5
        filter: alpha(opacity=50)
    15%
        transform: translateX(-20px)
    33%
        transform: translateX(30px)
    49%
        transform: translateX(-10px)
    66%
        transform: translateX(10px)
    100% 
        top: 90%
        opacity: 0
        filter: alpha(opacity=0)

@keyframes fallDownSmall
    0% 
        top: -20%
        opacity: 0.4
        filter: alpha(opacity=40)
    15%
        transform: translateX(-10px)
    33%
        transform: translateX(20px)
    49%
        transform: translateX(-20px)
    66%
        transform: translateX(5px)
    100% 
        top: 90%
        opacity: 0
        filter: alpha(opacity=0)

    