.page
    float: right
    width: 92%
    max-width: 92%
    height: 100%
    min-height: 100vh
    color: white
    font-family: $oswald
    padding: 10px
    text-align: center
    box-sizing: border-box
    position: relative
    overflow-y: hidden

.letter
    float: right
    width: 100%
    max-width: 100%
    height: 100%
    min-height: 100vh
    color: white
    font-family: $oswald
    box-sizing: border-box
    position: relative
    overflow-y: hidden
    overflow-x: hidden