.p
    font-family: $open-sans, sans-serif
    font-size: 900px
    position: absolute
    font-weight: bold
    color: #314356
    margin-right: 5%
    margin-top: -400px
    overflow-y: hidden
    padding-top: 0px
    padding-bottom: 0px
    float: right
    width: 100%

.pp
    font-family: $open-sans, sans-serif
    font-size: 900px
    position: absolute
    font-weight: bold
    color: #314356
    margin-top: -400px
    overflow-y: hidden
    padding-top: 0px
    padding-bottom: 0px
    float: right
    width: 100%
    transform: scaleX(-1)
    
.vertical-timeline-element--work
    text-align: left
    color: black

    .vertical-timeline-element-date
        color: white

    h3
        color: #000

    h4
        margin-bottom: 8px

    .tagholder
        display: inline-block
        width: 100%
        margin-bottom: 10px

        .tag
            padding: 5px 10px
            background-color: #c5d9ee
            float: left
            margin-right: 10px
            border-radius: 15px
            font-size: 13px

    .team
        margin: 10px 0px
        font-size: 14px

    button
        display: inline-block
        border: 2px solid #c5d9ee
        border-radius: 10px
        padding: 10px 15px
        box-sizing: border-box
        text-decoration: none
        color: #000
        text-align: center
        background-color: rgba(0, 0, 0, 0)
        font-weight: bold
        font-size: 14px
        margin-right: 10px

    button:hover,
    button:active
        background-color: #c5d9ee
        text-decoration: none
