body
    height: 100%
    width: 100%
    top: 0px
    left: 0px
    right: 0px
    bottom: 0px
    margin: 0px
    padding: 0px

    App
        position: relative

h1,
h3
    color: $headerText
        