// MIXINS

=gallery-column-size()
    @media only screen and (max-width: $screen-xs) 
        width: 100%
    @media only screen and (min-width: $screen-xs + 1) and (max-width: $screen-s - 1)
        width: 50%
    @media only screen and (min-width: $screen-s + 1) and (max-width: $screen-m - 1)
        width: 33.33%
    @media only screen and (min-width: $screen-m + 1) and (max-width: $screen-l - 1)
        width: 25%
    @media only screen and (min-width: $screen-l)
        width: 20%
